<html>
<head>
	
<script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx-ext-ws@2.0.0/ws.js"></script>

  <link href="/static/output.css" rel="stylesheet">
</head>	
	<body>

		<div hx-ext="ws" ws-connect="/ws" class="p-4 sm:p-8 md:p-16 mt-20">
		<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
			{{ range . }}
			{{ template "card" .}}
			{{ end }}
		</div>
			<div id="action" hx-swap-oob="beforeend" class="opacity-0">
			</div>
		</div>
	</body>
</html>

